.smc-privacy-portlet .privacy-info-message {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: 1em;
  max-height: 90%;
  max-height: calc(100vh - 2em);
  overflow-y: auto; }

.smc-privacy-portlet .privacy-policy-container {
  margin: 1em; }
